/*/ Root placeholder /*/
:root {
    // --primary-color: black;
    // --secondary-color: white;
    /* tertiary color candidates 
    color: 
        burlywood; 
        goldenrod;
        skyblue;
    */

    --primary-color: white; // Text
    --secondary-color: navy; // Background

    --logo: url("BMCC-Student-Hub.png")

    --landing-background: url("mt-fuji-ii.jpg");

    --primary-font: "allrounder-monument-regular", "Times New Roman", Times, serif;
    --primary-font--heavy: "allrounder-monument-heavy", "Times New Roman", Times, serif;
    --primary-font--light: "allrounder-monument", "Times New Roman", Times, serif;
    --secondary-font: "Times New Roman", Times, serif;
    --tertiary-font: "Montserrat", sans-serif;

    --global-margin: 5%;
}

// Prevents overflow/side-scrolling
body {
    overflow-x: hidden !important;


    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

// A sin in CSS, but I have to learn SASS better later, this resets ALL button's default styling for easy config later on 
button {
    border: none;
    background: transparent;
}

.float-btn {
    position: fixed;
    top: 90%;

    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;  

    & a {
        color: var(--primary-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.challenge-btn {
    left: 10%;
}

.ai-btn {
    left: 90%;
    border-radius: 50%;
    font-size: xx-large;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--primary-color);
    color: var(--secondary-color);

    margin-bottom: 10px;


    &__logo {
        display: flex;
        & a {
            
            & img {
                width: 10vw;
            }
        }
    }

    &__wrapper {

        display: flex;
        justify-content: center;

        width: 50%;

        &__links {
            display: flex;
            align-items: center;
            justify-content: space-around;

            list-style: none;

            width: 100%;

            & li {
                & a {
                    color: var(--secondary-color);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__btn {
        border: 1px solid navy;
        border-radius: 12px;
        height: 50%;

        &:hover {
            background: navy;
            color: white;
        }
    }
}

.landing {


    background-image: url('images/bmcc-night.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // aspect-ratio: 1;



    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 10px;

    &__header {
        position: relative;

        color: white;
    }

    &__paragraph {

        width: 35%;
        color: white;
    }

    &__header, &__paragraph {
        padding: 25px;
        background: rgba(255, 255, 255, 0.1);
    }

    &__cta {
        &__btn {
            background: var(--primary-color);
            color: var(--secondary-color);
            width: 250px;

            & a {
                text-decoration: none;

                
            }

            &:hover {
                background: var(--secondary-color);
                color: var(--primary-color);

                & a {
                    color: var(--primary-color);
                    
                }
            }
        }
    }
}

.card {

    background: var(--primary-color);
    color: var(--secondary-color);

    margin: 20px;

    &__compare-div {
        display: flex;
        margin: 5em 0;

        &__block {
            width: 33%;
            padding: 1em;

            & img {
                width: 90%;
            }
            & i {
                font-size: 5em;
                margin: 0 auto;
            }
        }
    }
}


.phone {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &__item {
        margin: auto;
        margin-top: 170px;
        width: 350px;
        height: 600px;
        box-shadow: 0 0 10px black;
        border-radius: 30px;
        border: 5px solid white;

        &__frame {
            width: 150px;
            height: 20px;
            background: white;
            position: absolute;
            margin: 0 100px;
            border-radius: 0 0 20px 20px;
            &__speaker {
                width: 60px;
                height: 5px;
                background: #d2d2d2;
                display: block;
                margin: auto;
                margin-top: 5px;
                border-radius: 20px;
            }
        }
        
        &__screen {
            width: 100%;
            height: 100%;

            background: transparent;
            border-radius: 30px;
            overflow-y: auto;

            display: flex;
            align-items: center;
            justify-content: center;

            &__text {
                color: red;
                h2 {}
                p {}
            }
        }
    }
}


.club {
    &__list {
        &__dynamic {
            display: flex;
            align-items: center;
            flex-flow: wrap row;
            justify-content: space-between;
            

            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & span {
                    display: flex;
                    justify-content: flex-end;

                    & a {
                        margin-left: 10px;
                    }
                }
                
            }

            &__item {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }
    }
}

.team {
    padding: 2em;

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        &__member {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            &__social {
                font-size: larger;

                & a {
                    text-decoration: none;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
}

.footer {
    background: var(--primary-color);
    color: var(--secondary-color);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    font-size: smaller;

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 75%;

        &__header {
            display: flex;
            justify-content: center;
            margin: 1em;

            & img {
                width: 10vw;
            }
        }
        &__links {
            display: flex;
            justify-content: space-around;
            list-style: none;
            & li {
                & a {
                    color: var(--secondary-color);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__end {
        display: flex;
        justify-content: space-around;
        
        width: 90%;
        border-top: 1px solid var(--secondary-color);
        padding: 1em;


        &__copyright {

        }
        &__links {
            display: flex;
            justify-content: space-between;
            width: 30%;

            & a {
                color: var(--secondary-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            
        }
    }
}







.dashboard {
    display: flex;
    flex-flow: column nowrap;


    height: 100vh;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // flex-flow: column nowrap;
        padding: 20px;

        background: var(--secondary-color);
        color: var(--primary-color);

        &__search {
            width: 20%;
            border-radius: 12px;
            height: 20%;

        }

        &__profile {
            
            & img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    &__content {
        display: flex;
        &__sidebar {
            display: flex;
            flex-flow: column nowrap;
            width: 40%;
            list-style: none;
            margin: 0;
            padding: 0;

            &__item {
                background: var(--secondary-color);
                color: var(--primary-color);

                display: flex;
                align-items: center;
                padding: 16px;

                &:hover {
                    background: darkblue;
                    color: var(--primary-color);
                }

                &__menu {
                    position: absolute;
                    left: 20.15%;
                    top: 49%;

                    background: darkblue;
                    padding: 20px;

                    z-index: 4;

                    width: 50%;
                    height: 70%;

                    display: flex;
                    flex-flow: row wrap;

                    overflow-y: scroll;

                    &__list {

                        width: 40%;
                        padding: 1em;
                        & ul {
                            & li {
                                &:hover {
                                    text-decoration: underline;
                                }       
                            }
                        }
                    }
                }
            }
            &__item--special {
                background: orange !important;
                color: var(--primary-color);
            }
        }
        &__main {
            padding: 1em;
            display: flex;
            flex-flow: column;
            &__map {
                height: 30%;
                overflow-y: hidden;
                & img {
                    width: 100%;
                    filter: brightness(90%);

                    &:hover {
                        filter: brightness(100%);
                    }
                }
            }
        }
    }
}

.generic-ai-btn {
    display: flex;
    align-items: center;
    margin: 20px;
}

#clubSearchInput {
    border-radius: 15px;
    padding: 10px;
    width: 500px;
}

.club__search {
    & button {
        background: navy;
        color: white;
        padding: 1em;
        border-radius: 15px;

    }
}


#js-hidden {
    display: none;
}
